<script type="text/template" name="chats" id="chats-template">
    <div class="row">
        <div id="user-list" class="col-sm">
            <div>
                <h1 class="title">Users</h1>
            </div>
            <div id='available-users'></div>
        </div>
        <div class="col-sm">
                <h1 class="title text-light" id="chat-name-title">chat</h1>
                <div id="chat_view" class="bg-dark overflow-auto"></div>
                <div id="chat-input-form-wrapper"></div>
        </div>
    </div>
</script>


<script id="online-users-template" type='text/template'>
<div class="bg-secondary" id = "available-users-buttons">
    <%% for (let i = 0; i < users.length; i++){ %>
    <%% const url = "#users/" + users[i].nickname; %>
        <%% if(current_user != users[i].nickname){ %>
           <%%=`<a class="btn btn-dark btn-sm online-user" id='online-user-button' data-author=${users[i].nickname}>` %>
                <%%= users[i].nickname%>
            </a>
        <%% };%>
    <%% }; %>
<div>
</script>


<script id="chat_view_template" type='text/template'>
    <%% for (msg of messages) {%>
        <%% if (msg.invisible === true && msg.author != $('#nav-nickname-user').text()) { continue; } %>
        <div class="chat_message bg-light p-2 rounded-pill mt-1">
            <div  class="message_author d-inline text-primary"><%%= msg.author %>:</div>

            <div class="message_content d-inline text-dark"><%%= msg.content %></div>
        </div>
    <%% };%>
</script>


<script id="chat-msg-imput-template" type='text/temlate'>
    <%= form_with url: "api/messages", id: "chat-msg-input-form", method: :create do |form|%>
        <%= text_field(:message, :content,minlenght: 1, maxlenght: 280,
            placeholder: "Type here...", autocomplete: :off, id: "input-msg-chat-form") %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :author, value: current_user %>
        <%%= `<input id="hiddenDest" value="${chat.dest}"type="hidden" name="dest">` %>
        <%%= `<input id="hiddenfield" value="${chat.id}"type="hidden" name="chat_id">` %>
        <%= form.submit "Send", id: "send-chat-message-button", class: "btn btn-primary" %>
        <% end %>
        <%% $('#hiddenfield').val(chat.id); %>
        <%% $('#hiddenDest').val(chat.dest); %>
</script>
