
<script type="text/template" name="channels" id="channels-template">
    <div class="row">
        <div id="channel-list" class="col-4">
            <div>
                <h1 class="title">Create new channel</h1>
            </div>
            <div class="form-group mb-2 bg-secondary center" id="create-channel-input-wrapper">
                <%= form_with url: "api/channels", method: :create do |form| %>
                        <div class="form-element">
                        <%= text_field(:channel, :name, minlength: 2, maxlength: 12, pattern: "^[a-zA-Z0-9]*$",
                            placeholder: "Channel Name", autocomplete: :off, class:"create-channel-input")%>
                        <%= form.hidden_field :user, value: current_user.id %>
                        </div>
                        <div class="form-element">
                            <%= form.check_box :category, {}, "protected", "public"%> Private chat
                            <%= form.text_field :password, placeholder: "password", id: "password-input"%>
                        </div>
                        <%# <button type="button" class="btn btn-dark" id="reload-channels-button">
                            <span class="glyphicon glyphicon-repeat"></span>Refresh
                        </button> %>
                        <div id="center-button-wrapper">
                            <%= form.submit "Create", id: "create-channel-button", class: "btn btn-danger" %>
                        </div>
                    
                <% end %>
                
            </div>
            
            <div id="available-channels"></div>
            
        </div>
        
        <div class="col-6">
            <h1 class="title" id="channel-name-title">Channel</h1>
            <div id="channel_view" class="bg-dark overflow-auto">

            </div>
            <div id="msg-input-form-wrapper"></div>
        </div>
        
    </div>
    <script>

        $("#category").click(function()
        {
            $('#password-input').toggle();
        });
    </script>
</script>

<script id="online-channels-template" type='text/template'>
    <div class="bg-secondary" id = "available-channel-buttons">
        <%% for (let i = 0; i < channels.length; i++){ %>
        <div>
        <%% const url = "#channels/" + channels[i].name; %>
            <a  class="btn btn-danger btn-sm" id="online-user-button" href=<%%= url %>>
                <%%= channels[i].name %>

            </a>
        </div>
        <%% }; %>
    <div>
</script>

<script id="channel_view_template" type='text/template'>
    <div id="channel-toolbar" class="btn-group">
        <a id="exit-channel-button" class="btn btn-danger exitbutton" href="#channels/default" >Exit channel</a>
    </div>
    <%% for (msg of messages) {%>
        <div class="channel_message bg-light p-2">
            <div  class="message_author d-inline text-primary"><a href="#popup1" onclick="render_popup(this)" ><%%= msg.author %>:</a></div>
            
            <div class="message_content d-inline text-dark"><%%= msg.content %></div>
        </div>
    <%% };%>
</script>

<script id="channel-msg-input-template" type='text/template'>
    <%= form_with url: "api/messages", id: "msg-input-form",method: :create do |form| %>
                        <%= text_field(:message, :content, minlength: 1, maxlength: 280,
                            placeholder: "Type here...", autocomplete: :off,  class:"create-channel-input", id:"input-msg-channel-form") %>
                        <%= form.hidden_field :user_id, value: current_user.id %>
                        <%%= `<input id="hiddenfield" value="${channel.id}"type="hidden" name="channel_id">` %>
                        <%= form.submit "Send", id: "send-message-button", class: "btn btn-primary" %>
                        
    <% end %>
    <%% $('#hiddenfield').val(channel.id); %>
</script>

<div id="popup1" class="overlay">
	<div class="popup ">
        <div class="row">
            <h2 class="popup-user-title col"></h2>
            <div class="col" id="popup-user-avatar"></div>
        </div>
		
		<a class="close" href="javascript:history.back()">&times;</a>
		<div class="popup-content">
			
		</div>
	</div>
</div>
<script>
    function render_popup(el){
        let user = el.text.replace(':','');
        $('.popup-user-title').text(user);
    }
</script>

