
<script type="text/template" name="channels" id="channels-template">
    <div class="row">
        <div id="channel-list" class="col-4">
            <div>
                <h1 class="title">Create new channel</h1>
            </div>
            <div class="form-group mb-2 bg-secondary center" id="create-channel-input-wrapper">
                <%= form_with url: "api/channels", method: :create do |form| %>
                        <div class="form-element">
                        <%= text_field(:channel, :name, minlength: 2, maxlength: 12, pattern: "^[a-zA-Z0-9]*$",
                            placeholder: "Channel Name", autocomplete: :off, class:"create-channel-input")%>
                        <%= form.hidden_field :user, value: current_user.id %>
                        </div>
                        <div class="form-element">
                            <%= form.check_box :category, {}, "protected", "public"%> Private chat
                            <%= form.password_field :password, placeholder: "password", id: "password-input"%>
                        </div>
                        <%# <button type="button" class="btn btn-dark" id="reload-channels-button">
                            <span class="glyphicon glyphicon-repeat"></span>Refresh
                        </button> %>
                        <div id="center-button-wrapper">
                            <%= form.submit "Create", id: "create-channel-button", class: "btn btn-dark" %>
                        </div>
                    
                <% end %>
                
            </div>
             
            <div id="available-channels"></div>
            <div id="blocked-users-data" data-blocked="15"></div>
        </div>
        
        <div class="col-6">
            <h1 class="title" id="channel-name-title"></h1>
            <div id="channel_view" class="bg-dark overflow-auto">

            </div>
            <div id="msg-input-form-wrapper"></div>
        </div>
        <div id="channel-sidepanel" class="col-2">
        
        </div>
        
    </div>
    <script>

        $("#category").click(function()
        {
            $('#password-input').toggle();
        });
    </script>
</script>

<script id="online-channels-template" type='text/template'>
    <div class="bg-secondary btn-group-vertical" id = "available-channel-buttons">
        <%% for (let i = 0; i < channels.length; i++){ %>
        
        <%% const url = "#channels/" + channels[i].name; %>
            <a  class="btn btn-dark btn-sm" id="online-user-button" href=<%%= url %>>
                <%%= channels[i].name %>

            </a>
        
        <%% }; %>
    <div>
</script>

<script id="channel_view_template" type='text/template'>
    <div id="channel-toolbar" class="btn-group d-flex flex-row">
    <%% if (channeladmin === true || admin === true){ %> 
        <%= form_with url:
            "/api/channels/",
            class:"form-horizontal",
            id:"set_new_pass_form",
            method: :put do |form| 
        %>
            <%= form.password_field :password, minlength: 1, maxlength: 10 %>
            <!--- <%%= `<input id="hiddenfield-pass" value=1 type="hidden" name="id">` %> --->
            <%%= `<input id="hiddenfield-pass" value=${channel_id}  type="hidden" name="channel">` %>
            <!-- <%%= `<input id="hiddenfield-pass" value=${channel_id}  type="hidden" name="channel">` %> -->
            <%= form.submit "Set password" %>
        <% end %>
        <%% 
            $(document).ready(function(){
                $('#set_new_pass_form').attr("action", "/api/channels/" + $('#hiddenfield-pass').val())
                
            })
        %>
    <%% }; %>
        <%% if (admin === true){ %> 
            <a id="delete-channel-button" class="btn btn-danger">Delete</a>
        <%% }; %>
        <a id="exit-channel-button" class="btn btn-secondary exitbutton" href="#channels/default" >Exit channel</a>
    </div>
    <%% for (msg of messages) {%>
        <%% if (blockedUsers.includes(msg.user_id) === true) { continue; } %>
        <div class="channel_message bg-light p-2">
            <div  class="message_author d-inline text-primary"><a href="#popup1" onclick="render_popup(this)" ><%%= msg.author %>:</a></div>
            
            <div class="message_content d-inline text-dark"><%%= msg.content %></div>
        </div>
    <%% };%>
</script>

<script id="channel-msg-input-template" type='text/template'>
    <%= form_with url: "api/messages", id: "msg-input-form",method: :create do |form| %>
                        <%= text_field(:message, :content, minlength: 1, maxlength: 280,
                            placeholder: "Type here...", autocomplete: :off,  class:"create-channel-input", id:"input-msg-channel-form") %>
                        <%= form.hidden_field :user_id, value: current_user.id %>
                        <%%= `<input id="hiddenfield" value="${channel.id}"type="hidden" name="channel_id">` %>
                        <%= form.submit "Send", id: "send-message-button", class: "btn btn-primary" %>
                        
    <% end %>
    <%% $('#hiddenfield').val(channel.id); %>
    
</script>

<div id="popup1" class="overlay">
	<div class="popup ">
        <div class="row">
            <h2 class="popup-user-title col"></h2>
            <div class="col" id="popup-user-avatar"></div>
        </div>
		
		<a class="close" href="javascript:history.back()">&times;</a>
		<div id="popup-content">
			
		</div>
	</div>
</div>
<div id="channel-password-popup" class="overlay">
    <div class="popup">
        
            <h4 class="ch-popup-user-title col">This channel is private</h4>
            <%# <form  method="post">
                <p>Introduce the password to enter:</p>
                <input type="password" name="chpassword">
                <input type="submit" class="btn btn-dark">
            </form> %>
            <form id="channel-password-form" class="form1" onsubmit="validateForm(); return false;">
                <div class="row uniform half collapse-at-2">
                    <div class="8u">
                        <input type="password" name="pass" id="password" placeholder="Input password"/>
                    </div>
                <div class="4u">
                    <input class="fit" type="submit" value="Go" />
                </div>
                </div>
            </form>
            <script type="text/javascript">
            function validateForm()
            {
                var pass = document.getElementById('password').value;
                if(pass == '1234') //here 1234 is your password
                    window.location = 'https://www.google.com';
            }
            </script>
        
		
		<a class="close" href="#channels/default">&times;</a>
		<%# <div id="popup-content" class="popup-content">
			
		</div> %>
	</div>
</div>
<script>
    function render_popup(el){
        let user = el.text.replace(':','');
        $('.popup-user-title').text(user);
    }
</script>

<script id="channel-sidepanel-template" type='text/template'>
    <div class="title"><h5>Online</h5><span class="d-flex flex-row-reverse badge badge-pill"><a id="refresh-sidepanel-button"><button>&#8634</button></a></span></div>
    <div id="channel-sidepanel-user-list">
        
            <%% for (let m of members){ %>
                    
                <%%= '<a class="sidepannel-user" onClick="setuserpopup(\'' + m.toJSON().nickname + '\')" href="#popup1" >' %>
                    <%%=  m.get("nickname") %>
                    <img class="channel-smallavatar" src="<%%= m.toJSON().avatar.thumb.url%>"></img>

                </a>
                <%% if (m.toJSON().id === ($('html').data().userId)) { continue; } %>
                <%% if (channel.get("admins").includes(m.toJSON().id)) { continue; } %>  
                <%% if (channel.get("admins").includes($('html').data().userId)){ %> 
                <a><button
                    class="badge badge-sm badge-ligth mute1min" 
                    data-id="<%%=m.toJSON().id%>"
                    data-channel="<%%= $('#channel-name-title').text()%>"
                    >Mute</button></a>
                <a><button
                    class="badge badge-sm badge-ligth kick" 
                    data-id="<%%=m.toJSON().id%>"
                    data-channel="<%%= $('#channel-name-title').text()%>"
                    >Ban</button></a>
                <%% if (channel.get('user_id') != ($('html').data().userId)){ continue;} %>
                <a><button
                    class="badge badge-sm badge-ligth set-admin" 
                    data-id="<%%=m.toJSON().id%>"
                    data-channel="<%%= $('#channel-name-title').text()%>"
                    >Admin</button></a>
                <%% } %>
            <%% } %>
    
    </div>
    <%% $('.popover-dismiss').popover({
    trigger: 'focus'
    }) %>
    
</script>
<script>
    function setuserpopup(name){
        $('.popup-user-title').text(name);
    }
</script>
