
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div>
        <a class="navbar-brand" href="/users/<%= current_user.id %>">
            <img class="img-avatar rounded-circle img-fluid" id="nav-avatar-user" src="<%= current_user.avatar.thumb.url %>"/>
        </a>
    </div>
    
    
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="navbar-brand" href="/users/<%= current_user.id %>"">
            <%= current_user.nickname.capitalize() %>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#users/<%= current_user.id %>">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#chat">Chat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#">Guilds</a>
        </li>
        <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, data: {confirm: 'Are you sure?'}, class: 'nav-link' %>
        </li>
    </ul>
</nav>