<script type="text/template" id="new-war-template">
    <h1 class="title">Declare war</h1>
    <% 
        guilds = Guild.all.collect(&:title)
        ids = Guild.all.collect(&:id)
        select_ops = Hash[guilds.zip ids].select {|k,v| v != current_user.guild_id }
        
    %>
    <div class="bg-dark p-5">
        <%= form_with url: "api/wars", method: :create, id: "declare-war-form" do |f| %>
            <label class="text-white p-3" >Start time</label>
            <%= date_field(:war, :startdate, min: Date.today, id: "startdate", value: Date.today ) %>
            <label class="text-white p-3" > Duration (in days) </label>
            <%= number_field(:war, :duration, min: 1, max: 30, value: 7) %>
            <label class="text-white p-3" > Maximum unanswered matches </label>
            <%= number_field(:war, :missed_matches, min: 1, max: 10, value: 5) %>
            <label class="text-white p-3" > Wartime (hour a day) </label>
            <%= number_field(:war, :wartimehour, min: 0, max: 23, value: 12) %>
            <div>
            <label class="text-white p-3">  <p>Against:</p></label>
                <select class="form-select form-select-lg mb-3" name="war[against]" id="war_against">
                    <%% for (let guild of guilds){ %>
                        <%% if (guild.owner_id != myid) { %>
                        <option val="<%%= guild.id %>"><%%= guild.title %></option>

                        <%% }  %>
                    <%% } %>
                </select>
            </div>
            <hr/>
            <div class="match-type-form"></div>
            <div class="form-check form-switch">
                    <%= check_box(:war, :type_ranked, {class: "form-check-input"}) %> <div class="form-check-label text-white">Ranked matches count towards war result</div>
            </div>
            <div class="form-check form-switch mb-4">
                <%= check_box(:war, :type_tournament, {class: "form-check-input"}) %> <div class="form-check-label text-white">Tournament matches count towards war result</div>
            </div>
            <div class="bet-slider-div mb-4 row">
                <label class="label text-lg text-white col-2">Score bet </label>
                <input class="col form-range" id="war-bet-range-slider" type="range" name="war[bet]" step="10" min="0" max="300" val="0" onchange="updatewarTextInput(this.value);"></input>
                <input class="col-1 ml-5" type="text" id="wartextInput" value="0"/>
            </div>
                <%= f.submit "Create war", id: "create-war-button", class: "btn btn-block btn-danger badge-pill fire-animation" %>
            </div>
        <% end %>

        <script>
            ajaxreq = function(method, url, data) {
            return new Promise((resolve, reject) => {
                $.ajax({
                        url: url,
                        type: method,
                        data: data,
                        headers: {
                            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                        }
                    })
                    .done(resolve)
                    .fail(reject);
            })
        };
            async function updatewarTextInput(val) {
                let guild =  await ajaxreq('GET', 'api/users/' + $('html').data().userId + '/guild')
                document.getElementById('wartextInput').value=Math.min(val,guild.score); 
            }
        </script>

    </div>

</script>

<script type="text/template" id="war-requests-template">
    <div class="row">
        <%%  for (let w of wars) { %>
            <%% if (w.id && w.to === myguild && w.status === "request_sent"){ %>
                <a class="btn btn-block btn-danger war-declaration-request mt-3 fire-animation"
                    data-war="<%%= w.id %>" data-from="<%%= w.from %>" data-to="<%%= w.to %>">
                    <p>Accept war declaration from "<%%= w.from %>" guild!</p>
                    <span>
                        <div class="p-1 span9 text-light mb-1">
                            <div class="badge bg-dark text-wrap p-2 m-1">GUILD SCORE BET: <%%= w.bet %>
                            </div>
                            <div class="badge bg-dark text-wrap p-2 m-1">War time: <%%= w.wartimehour %>:00 h every day
                            </div>
                            <div class="badge bg-dark text-wrap p-2 m-1">Duration: <%%= w.duration%> days
                            </div>
                        </div>
                    </span>
                </a>
            <%% } %>
        <%%  } %>
    </div>

        <%%  for (let w of wars) { %>
             <%% if (w.id && (w.to === myguild || w.from === myguild ) && (w.status === "active" || w.status === "accepted" || w.status === "wartime" )){ %>
                <div class="current-war-banner p-2 row bg-danger text-center fs-2 mt-2">War between <%%= w.from %> and  <%%= w.to %> is <%%= w.status %> from <%%= w.startdate.substring(0,10) %> for <%%= w.duration %> days.</div>
             <%% } %>
        <%%  } %>

</script>