
<!-- User is login -->

<% if user_signed_in? %>
  <%= render "nav" %>
  <%= render "profile" %>
  <%= render "game" %>
  <%= render "chat" %>
  <%= render "channels"%>
  <%= render "friends"%>
  <%= render "match"%>
  <%= render "guilds"%>
  <%= render "ranking"%>
  <%= render "admin"%>
<% else %>
  <%= render "users/sign_in" %>
<% end %>
  <%= render "404" %>
<div id="content" class="container h-100">
</div>

<% if user_signed_in? %>

  <div class="notification-container">
  </div>
  <div id="friends_container">
  <!-- user_friends_button_template -->
  </div>

<% end %>
