
<div id="title">
  <h1 id="transcendence-title">FT_TRANSCENDENCE</h1>
  </div>
</div>

<div id="content">

<!-- User is not login -->
<% if !user_signed_in? %>
    <%= render  "login" %> <!-- Render _login.html.erb -->


<!-- User is login -->

<% else %>
  <div class='logout'>
      <%= link_to 'Sign out', destroy_user_session_path_path,
        :method => :delete, data: {confirm: 'Are you sure?'} %></div>
    <% @users.each do |user| %>
        <tr class='logged-users'>
          <td><p>Hello, <%= user.nickname.capitalize() %>!</p></td>
        </tr>
    <% end %>
    <% end %>
<% if user_signed_in? %>
    <div><%= render  "game" %></div>
    <%= render "chat" %>
<% end %>
</div>

<div class="footer">
    <p>Developed by @asegovia @darodrig @aserrano @pcuadrad</p>
    <script> 
        $('.footer').click(function(){
      $('.footer').toggle('slow');
  });
    </script>
</div>
