<h2>Log in</h2>

<%= form_tag create_user_session_url(@user), :method => :post, remote: true do %>

  <div class="field">
    <%= label :user, :nickname %><br />
    <%= text_field :user, :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= label :user, :password %><br />
    <%= password_field :user, :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= submit_tag "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<%= link_to "Create an account", new_user_registration_path, method: :get %>
