<!DOCTYPE html>
<html data-user-logged="<%= user_signed_in? %>"
    <% if user_signed_in? %>
      data-user-id="<%= current_user.id %>"
    <% end %> >
  <head>
    <title>Ft_transcendence</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% action_cable_meta_tag %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Raleway&family=Righteous&display=swap" rel="stylesheet">
    <%# Se tiene que cargar antes que la app de backbone para que funcione la vista global. %>
    <% if user_signed_in? %>
      <%= render "notifications" %>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body class="d-flex flex-column min-vh-100">

    <h1 id="transcendence-title" ><a href="/">FT_TRANSCENDENCE</a></h1>

    <%= yield %>

    <div class="footer mt-auto bg-dark text-center text-white" id="footer">
      <footer>Developed by @asegovia @darodrig @pcuadrad <strike>@aserrano</strike> at 42 Madrid</footer>
    </div>
  </body>
  
</html>
