<!DOCTYPE html>
<html>
  <head>
    <title>Ft_transcendence</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% action_cable_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div id="title">
      <h1 id="transcendence-title" ><a href="/">FT_TRANSCENDENCE</a></h1>
    </div>

    <%= yield %>

    <div class="footer">
      <p>Developed by @asegovia @darodrig @aserrano @pcuadrad</p>
      <script>
          $('.footer').click(function(){
            $('.footer').toggle('slow');
          });
      </script>
    </div>
  </body>
</html>
