<!DOCTYPE html>
<html data-user-logged="<%= user_signed_in? %>">
  <head>
    <title>Ft_transcendence</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% action_cable_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap" rel="stylesheet">

    <% if user_signed_in? %>
      <%= render "profile" %>
      <%= render "game" %>
      <%= render "chat" %>
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
    <div id="title">
      <h1 id="transcendence-title">FT_TRANSCENDENCE</h1>
    </div>

    <%= yield %>

    <div class="footer">
      <p>Developed by @asegovia @darodrig @aserrano @pcuadrad</p>
      <script>
          $('.footer').click(function(){
            $('.footer').toggle('slow');
          });
      </script>
    </div>
  </body>
</html>
