<!DOCTYPE html>
<html data-user-logged="<%= user_signed_in? %>">
  <head>
    <title>Ft_transcendence</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% action_cable_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap" rel="stylesheet">

    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
  <% if user_signed_in? %>
  
      <%= render "profile" %>
      <%= render "game" %>
      <%= render "chat" %>
    <% end %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    <%# <div id="title"> %>
      <h1 id="transcendence-title" ><a href="/">FT_TRANSCENDENCE</a></h1>

      </script>
    <%# </div> %>

    <%= yield %>

    <div class="footer mt-auto bg-dark text-center text-white" id="footer">
      <footer>Developed by @asegovia @darodrig @aserrano @pcuadrad at 42 Madrid</footer>
    </div>
  </body>
  
</html>
